body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e8b8b; /* Light Gray */
}

header {
    background: linear-gradient(45deg,#87F1FF, #6AEDFF);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px;
}

.project {
    margin-bottom: 30px;
    background-color: #fff; /* White */
    border: 1px solid #f2f2f2; /* Light Gray */
    padding: 20px;
}

.project img {
    max-width: 100%;
}

footer {
    background-color: #007BFF; /* Royal Blue */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Call-to-Action Button Style */
.button {
    background-color: #FFA100; /* Orange */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
    background-color: #00B3A2; /* Teal */
}
